<header>

  <nav>
  <ul>
  <li><a href="/posts">Home</a></li>
  <li><a href="/posts/aboutme"> About </a></li>
  <li><a href="/posts/description"> Description</a></li>
  <li><a href="/posts/tech"> Tech </a></li>
  <li><a href="/posts/techstack"> Techstack </a></li>
  <li><a href="/posts/hobbies"> Hobbies </a></li>


  </ul>
  </nav>

  </header>
