<% include ../../partials/boilerplate %>

<div class='about'>
  <h3>Description: <%= data.name %></h3>
  <h3>Tech: <%= data.animal %></h3>
  <h3>Techstack: <%= data.location %></h3>
  <h3>Hobbies: <%= data.location %></h3>

  <a href='/posts/'>Return to Home</a>
</div>

<% include ../../partials/end %>


<!-- const about = [
  {
    id: 1,
    type: 'description',
    question: 'Tell me a little bit about yourself?',
    response: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
  },
  {
    id: 2,
    type: 'tech',
    question: 'What excites you about technology?',
    response: 'lorem ipsum dolor sit amet, consectetur adipisicing elit.'
  },
  {
    id: 3,
    type: 'techstack',
    question: 'What is your preferred technology stack?',
    response: 'lorem ipsum dolor sit amet, consectetur adipisicing elit.'
  },
  {
    id: 4,
    type: 'hobbies',
    question: 'What are your favorite hobbies?',
    response: 'lorem ipsum dolor sit amet, consectetur adipisicing elit.'
  }
]
module.exports = about; -->
